<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suhaib.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".nn.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nn.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".nn.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.suhaib.bakingapp.nn.ItemListActivity" />
        </activity>
        <activity
            android:name=".Details.BakinListActivity"
            android:label="@string/title_bakin_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Details.BakinDetailActivity"
            android:label="@string/title_bakin_detail"
            android:parentActivityName=".Details.BakinListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.suhaib.bakingapp.Details.BakinListActivity" />
        </activity>
    </application>

</manifest>